<!DOCTYPE html>
<html lang="en" ng-app ="myApp">

<head>
    <meta charset="UTF-8">
    <title>Shopify Obrary Laumer</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/app/style/styles.css">
    <!-- endinject -->
</head>

<body>
    <div class="container">
	    <img src="/ShopifyBrandAssets/shopify_logo_whitebg.svg" style="width:150px;height:150px;">        
	    <h1>  Merchant Admin Rules Editor         <img src="/img/editorhandart.png" style="width:30px;height:30px;"></h1>
	    	

    	<div id="mainDiv" class="col-sm-12">

	    	<div class="enterRules">

	    		<div class="col-sm-2">

		    		<div class="col-sm-9">
		    			<label >Priority:</label>	
			            <select class="form-control" name="priority" ng-model="vm.injectableDisplayOrder">
			            	<option class="1" value="1">1</option>
			            	<option class="2" value="2">2</option>
			            	<option class="3" value="3">3</option>
			            	<option class="4" value="4">4</option>
			            	<option class="5" value="5">5</option>
			            </select>
			        </div>

			    </div>

	    		<div class="col-sm-3">
	    			<div class="col-sm-12">
					    <label>Product Attribute:</label>
					    <select id="productAttribute" class="form-control table-striped" ng-model="vm.attributeDisplay">
					    	<option class="XXX" value="YYY">Product Title</option>
			            	<option class="XXX" value="YYY">Product Description Body</option>
			            	<option class="XXX" value="YYY">Product Vendor</option>
			            	<option class="XXX" value="YYY">Product Type</option>
			            	<option class="XXX" value="YYY">Product Tags</option>
			            	<option class="XXX" value="YYY">Product Price</option>
			            	<option class="XXX" value="YYY">Product Fullfillment Service</option>
			            	<option class="XXX" value="YYY">Product is Taxable</option>
			            	<option class="XXX" value="YYY">Product Inventory Quantity</option>
			            	<option class="XXX" value="YYY">Product Weight</option>
			            	<option class="XXX" value="YYY">Product Old Inventory Quantity</option>
			            	<option class="XXX" value="YYY">Product Requires Shipping</option>
			            	<option class="XXX" value="YYY">Product Option X</option>
					    </select>
					</div>
				</div>

				<div class="col-sm-2">
				    <label >Comparison Type:</label>
				    <select id="comparisonTypes" class="form-control table-striped" ng-model="vm.comparisonTypes">
			    		<option class="isEqualTo" value="YYY">is equal to</option>
		            	<option class="isNotEqualTo" value="YYY">is not equal to</option>
		            	<option class="isGreaterThan" value="YYY">is greater than</option>
		            	<option class="isLessThan" value="YYY">is less than</option>
		            	<option class="startsWith" value="YYY">starts with</option>
		            	<option class="endsWith" value="YYY">ends with</option>
		            	<option class="contains" value="YYY">contains</option>
		            	<option class="doesNotContain" value="YYY">does not contain</option>
		            	<option class="matchesRegex" value="YYY">matches Regular Expression</option>
				    </select>
				</div>

						<!-- CREATED A SPAN TO STACK VALUE INPUT AND RADIO BUTTONS TOGETHER -->
				<div class="col-sm-2">

						<!-- COMMENTED OUT DIV WRAPPER ON VALUE INPUT CODE BELOW BECAUSE ERROR WAS PREVENTING TEXT INPUT (?) -->
						<!-- <div class="col-sm-12"> -->
				    <label>Value:</label>
				    <input id="value" class="form-control" type="text" name="value" placeholder="Enter value" ng-model="vm.comparisonValue">

						<!-- </div>  -->

						<!-- RADIO BUTTONS -->
					<div id="radioChoice" ng-model="vm.datatypeComparison">
						<div class="radio"><label><input type="radio" name="optradio">Boolean</label></div>
						<div class="radio"><label><input type="radio" name="optradio">Numeric</label></div>
						<div class="radio"><label><input type="radio" name="optradio">Text</label></div>
					</div>

				</div>			

			

				<div class="col-sm-12" id="blobBox">
				  <div class="col-sm-10">
				  <label>Blob insert:</label>
				  <textarea class="form-control" rows="5" id="blobInsert" ng-model="vm.injectableFragment"></textarea>
				  </div>
				</div>


				<div class="col-sm-12">
					<div class=" col-sm-2">
				    <button id="submit" type="button" class="btn btn-primary form-control">Submit</button>
				    </div>
				</div>
			</div> <!-- CLOSING DIV TAG FOR ENTERRULES DIV CLASS -->

			

		<!-- ***** UI VIEW FOR TABLE STATE BELOW ***** -->

		<!-- /////////////////////// -->
		<div id="ruleTableContainer" class="container"> 

			<p ui-view> </p>

		</div>
		<!-- /////////////////////// -->
		

	</div> 
 	<!-- bower:js -->
 	<script src="bower_components/angular/angular.js"></script>
 	<script src="bower_components/jquery/dist/jquery.js"></script>
 	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
 	<!-- endbower -->
    <!-- inject:js -->
    <script src="/app/app.js"></script>
    <script src="/app/widget.controller.js"></script>
    <script src="/app/widget.service.js"></script>
    <!-- endinject -->
    </div> 
</body>

</html>


