<!DOCTYPE html>
<html lang="en" ng-app ="myApp">

<head>
    <meta charset="UTF-8">
    <title>Shopify Obrary Laumer</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/app/style/styles.css">
    <!-- endinject -->
</head>

<body ng-controller="WidgetController as vm">
    <div class="container">
	            
	    <h1>Merchant Admin Rules Editor</h1>

    		
    			<div class="form-group col-sm-12">   				
			  		    		
		    		<div class="form-group col-sm-4">
					    <label>Rule Name:</label>
					    <input id="ruleName" class="form-control" type="text" name="value" placeholder="Enter Rule Name" ng-model="vm.rule.name">
					</div>	
		    		
		    		<div class="form-group col-sm-4">
		    			<label >Rule Set Name:</label>	
			            <select class="form-control" name="ruleSetName" ng-model="vm.rule.productDescriptionRuleSetHas.id">
						<option value="" selected disabled>Select Rule Set</option>
			            <option ng-repeat="rule in vm.ruleSetArray" value="{{rule.id}}">{{rule.name}}</option>
			            </select>
			        </div>
			        
		    		<div class="form-group col-sm-4">
		    			<label >Priority:</label>	
			            <select class="form-control" name="priority" ng-model="vm.rule.position">
			            	<option value="" selected disabled>Select Priority</option>
			            	<option value="1">1</option>
			            	<option value="2">2</option>
			            	<option value="3">3</option>
			            	<option value="4">4</option>
			            	<option value="5">5</option>
			            </select>
			        </div>
				</div>   
				<div class="form-group col-sm-12">   				
		    		<div class="form-group col-sm-4">		    			
						<label>Fact:</label>																			
						    <select id="titleSelect" class="form-control" value="{{rule.fact.title}}" ng-model="vm.title">
						    	<option>Title</option>
				            	<option>Description Body</option>
				            	<option>Vendor</option>
				            	<option>Type</option>
				            	<option>Tags</option>
				            	<option>Price</option>
				            	<option>Fullfillment Service</option>
				            	<option>Taxable</option>
				            	<option>Inventory Quantity</option>
				            	<option>Weight</option>
				            	<option>Old Inventory Quantity</option>
				            	<option>Requires Shipping</option>				            	
						    </select>
						    <select id="productSelect" class="form-control" ng-model="vm.product">
					            <option ng-repeat="rule in vm.ruleSetArray" value="{{rule.fact.product}}">product</option>
				            </select>												
					</div>
				

					<div class="form-group col-sm-4">
					    <label >Comparison Type:</label>
					    <select id="comparisonTypes" class="form-control" ng-model="vm.rule.comparisonType">
				    		<option value="" selected disabled>Select Below</option>
				    		<option value="isEqualTo">is equal to</option>
			            	<option value="isNotEqualTo">is not equal to</option>
			            	<option value="isGreaterThan">is greater than</option>
			            	<option value="isLessThan">is less than</option>
			            	<option value="startsWith">starts with</option>
			            	<option value="endsWith">ends with</option>
			            	<option value="contains">contains</option>
			            	<option value="doesNotContain">does not contain</option>
			            	<option value="matchesRegex">matches Regular Expression</option>
					    </select>
					</div>
				

							
					<div class="form-group col-sm-4">
					    <label>Value:</label>
					    <input id="value" type="text" class="form-control" placeholder="Enter value" ng-model="vm.rule.comparisonValue">

						<div id="radioChoice">
							<div class="radio"><label><input ng-model="vm.rule.comparisonDataType" type="radio" name="optradio" value="bool">Boolean</label></div>
							<div class="radio"><label><input ng-model="vm.rule.comparisonDataType" type="radio" name="optradio" value="numeric">Numeric</label></div>
							<div class="radio"><label><input ng-model="vm.rule.comparisonDataType" type="radio" name="optradio" value="text">Text</label></div>
						</div>					
					</div>
				</div>				
				<div class="form-group col-sm-12">
				
					<div>
						<div>
						  <div class="form-group col-sm-12">
						  <label>Blob insert:</label>
						  <textarea class="form-control" rows="5" id="blobInsert" ng-model="vm.rule.injectableFragment"></textarea>
						  </div>
						</div>
					

						<div>
							<div class="form-group col-sm-2">
						    <button type="submit" id="submitbutton" class="btn btn-primary form-control" ng-click="vm.addRule()">Submit</button>
						    </div>
						</div>
					</div>

				</div> <!-- CLOSING DIV TAG FOR ENTERRULES DIV CLASS -->

			

									<!-- ***** UI VIEW FOR TABLE STATE BELOW ***** -->

									<h3>Current Admin Rules</h3>
										<div id="ruleTableContainer" class="container"> 

											<p ui-view> </p>

										</div>
		
		

			
								 	<!-- bower:js -->
								 	<script src="bower_components/angular/angular.js"></script>
								 	<script src="bower_components/jquery/dist/jquery.js"></script>
								 	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
								 	<!-- endbower -->
								    <!-- inject:js -->
								    <script src="/app/app.js"></script>
								    <script src="/app/widget.controller.js"></script>
								    <script src="/app/widget.service.js"></script>
								    <!-- endinject -->
    </div> <!-- FINAL DIV  -->
</body>

</html>


