<!-- **********************************************************************************************
****TABLE FOR SHOWING ALL RULES WITH ADD/EDIT/DELETE and ABILITY TO CHANGE PRIORITY UP OR DOWN****
********************************************************************************************** -->
	
	       
	      <!--   <div>
				<table class="table table-bordered" ng-model="vm.theTable">
					
					<tr ng-repeat="adminRules in vm.adminRuleArray | orderBy:sortType">
						<td class="ng-cloak">
						<div class="col-sm-12">
							<div class="col-sm-4">
							{{adminRules.FILL_IN_THE_BLANK}}
							</div>
							<div class="col-sm-offset-4 col-sm-4" id="aedButtons" align="right">
								<button class="btn btn-success" ng-click="vm.addRule()">ADD</button>
								<button class="btn btn-warning" ng-click="vm.editRule()">EDIT</button>
								<button class="btn btn-danger" ng-click="vm.deleteRule()">DELETE</button>
							</div>
						</div>
						</td>
					</tr>
					
				</table>
			</div> -->


<!-- ************************************************************************************************
****//PRACTICE// TABLE FOR WORKING WITH ADD/EDIT/DELETE and ABILITY TO CHANGE PRIORITY UP OR DOWN****
************************************************************************************************* -->

		<div class="ruleDisplay">

<!--********************************************************************************************* -->
<!--************************ JAVASCRIPT TO MAKE TABLE DO MAGICAL THINGS ************************* -->
				
			<script type="text/javascript">
					var $TABLE = $('#table');
					// var $BTN = $('#export-btn');
					// var $EXPORT = $('#export');

					$('.table-add').click(function () {
					var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
					$TABLE.find('table').append($clone);
					});

					$('.table-remove').click(function () {
					$(this).parents('tr').detach();
					});

					$('.table-up').click(function () {
					var $row = $(this).parents('tr');
					if ($row.index() === 1) return; // Don't go above the header
					$row.prev().before($row.get(0));
					});

					$('.table-down').click(function () {
					var $row = $(this).parents('tr');
					$row.next().after($row.get(0));
					});

					// A few jQuery helpers for exporting only
					jQuery.fn.pop = [].pop;
					jQuery.fn.shift = [].shift;

					$BTN.click(function () {
				    var $rows = $TABLE.find('tr:not(:hidden)');
				    var headers = [];
				    var data = [];
					  
					  // Get the headers (add special header logic here)
					$($rows.shift()).find('th:not(:empty)').each(function () {
				    headers.push($(this).text().toLowerCase());
			        });
					  
					  // Turn all existing rows into a loopable array
					$rows.each(function () {
				    var $td = $(this).find('td');
				    var h = {};
					    
					    // Use the headers from earlier to name our hash keys
				    headers.forEach(function (header, i) {
			        h[header] = $td.eq(i).text();   
					});
					    
					data.push(h);
					});
					  
					  // Output the result
					$EXPORT.text(JSON.stringify(data));
					});
			</script>

<!--********************************* END OF JAVASCRIPT FOR TABLE ********************************-->
<!--********************************************************************************************* -->

			<div id="table" class="table-editable" ng-model="vm.adminRules">
			    
				    <table class="table">

<!--************************HEADERS FOR TABLE COMLUMNS******************************************* -->
				        <tr>
					        <th>Priority</th>
					        <th>Product Attribute</th>
					        <th>comparisonTypes</th>
					        <th>Value</th>
					        <th>Value Type</th>
					        <th>Blob</th>					        
				        </tr>
<!--********************************************************************************************* -->
				        <tr>

					        <td contenteditable="true">3</td>
					        <td contenteditable="true">Product Weight</td>
					        <td contenteditable="true">is equal to</td>
					        <td contenteditable="true">30</td>
					        <td contenteditable="true">Numeric</td>
					        <td contenteditable="true">Blob goes here</td>

					        <td>
					            <span class="table-up glyphicon glyphicon-arrow-up"></span>
					            <span class="table-down glyphicon glyphicon-arrow-down"></span>
					            <span class="table-add glyphicon glyphicon-plus"></span>
					            <span class="table-remove glyphicon glyphicon-remove"></span>					          
					        </td>

				        </tr>
				      
<!-- *******************This is our clonable table row ****************************************** -->

				        <tr class="hide" ng-repeat="ruleListItem in vm.adminRules">

					        <td contenteditable="true">{{adminRules.injectableDisplayOrder}}</td>
					        <td contenteditable="true">{{adminRules.attributeDisplay}}</td>					        
					        <td contenteditable="true">{{adminRules.comparisonTypes}}</td>
					        <td contenteditable="true">{{adminRules.comparisonValue}}</td>   
					        <td contenteditable="true">{{adminRules.datatypeComparison}}</td>
					        <td contenteditable="true">{{adminRules.injectableFragment}}</td>    
						        						        						        						      						        				        
					        <td>
					            <span class="table-up glyphicon glyphicon-arrow-up"></span>
					            <span class="table-down glyphicon glyphicon-arrow-down"></span>
					            <span class="table-add glyphicon glyphicon-plus"></span>
					            <span class="table-remove glyphicon glyphicon-remove"></span>					          
					        </td>

				        </tr>

<!--********************************************************************************************* -->

				    </table>

			</div>
			  
			    <button id="saveChanges-btn" class="btn btn-primary">Save Changes</button>
			    <!-- <p id="export"></p> -->
		</div>	