<div class="ruleDisplay">
    <div id="table">
        <table class="table" ng-model="vm.ruleArray">
            <tr style="font-size: 1em; background-color: lightgray; text-align: center;">
                <th>Rule Name</th>
                <th>Rule Set</th>
                <th>Priority</th>
                <th>Fact</th>
                <th>Comparison Types</th>
                <th>Value</th>
                <th>Value Type</th>
                <th>Blob</th>
            </tr>
            <tr ng-repeat="rule in vm.ruleArray">
                <td>{{rule.name}}</td>
                <td>{{rule.productDescriptionRuleSetHas.name}}</td>
                <td>{{rule.position}}</td>
                <td>{{rule.fact}}</td>
                <td>{{rule.comparisonType}}</td>
                <td>{{rule.comparisonValue}}</td>
                <td>{{rule.comparisonDataType}}</td>
                <td>{{rule.injectableFragment}}</td>
            </tr>
        </table>
    </div>

    <button id="update-btn" class="btn btn-primary" value="Refresh Page" onClick="window.location.reload()">Update</button>
 
</div>
